<!DOCTYPE html>
<html>
<head>
  <title>Solar Explorer | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all",
                                            "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="row row-1">
      <ul>
      <% if signed_in? %>
        <li><%= link_to "Sign out", destroy_user_session_path, class: 'btn', method: "delete" %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path, class: 'btn' %></li>
        <li><%= link_to "Sign in", new_user_session_path, class: 'btn' %></li>
      <% end %>
      </ul>
    </header>
    <div class="container well">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
</body>
</html>
